Package/FakePermissions.jar
Package/GroupManager-0.6.zip
Package/GroupManager.jar
Package/GroupManager/config.yml
Package/GroupManager/data.yml
target/GroupManager.jar
target/JavaDoc-GroupManager-0.6.zip
target/classes/com/nijiko/permissions/PermissionHandler.class
target/classes/org/anjocaido/groupmanager/AnjoPermissionsHandler.class
target/classes/org/anjocaido/groupmanager/DataHolder.class
target/classes/org/anjocaido/groupmanager/Group.class
target/classes/org/anjocaido/groupmanager/GroupManager$1.class
target/classes/org/anjocaido/groupmanager/GroupManager$2.class
target/classes/org/anjocaido/groupmanager/GroupManager.class
target/classes/org/anjocaido/groupmanager/GroupManagerPermissions.class
target/classes/org/anjocaido/groupmanager/OverloadedDataHolder.class
target/classes/org/anjocaido/groupmanager/User.class
target/classes/org/anjocaido/groupmanager/Variables.class
target/classes/plugin.yml
target/maven-archiver/pom.properties
target/site/apidocs/allclasses-frame.html
target/site/apidocs/allclasses-noframe.html
target/site/apidocs/com/nijiko/permissions/PermissionHandler.html
target/site/apidocs/com/nijiko/permissions/class-use/PermissionHandler.html
target/site/apidocs/com/nijiko/permissions/package-frame.html
target/site/apidocs/com/nijiko/permissions/package-summary.html
target/site/apidocs/com/nijiko/permissions/package-tree.html
target/site/apidocs/com/nijiko/permissions/package-use.html
target/site/apidocs/constant-values.html
target/site/apidocs/deprecated-list.html
target/site/apidocs/help-doc.html
target/site/apidocs/index-all.html
target/site/apidocs/index.html
target/site/apidocs/org/anjocaido/groupmanager/AnjoPermissionsHandler.html
target/site/apidocs/org/anjocaido/groupmanager/DataHolder.html
target/site/apidocs/org/anjocaido/groupmanager/Group.html
target/site/apidocs/org/anjocaido/groupmanager/GroupManager.html
target/site/apidocs/org/anjocaido/groupmanager/GroupManagerPermissions.html
target/site/apidocs/org/anjocaido/groupmanager/OverloadedDataHolder.html
target/site/apidocs/org/anjocaido/groupmanager/User.html
target/site/apidocs/org/anjocaido/groupmanager/Variables.html
target/site/apidocs/org/anjocaido/groupmanager/class-use/AnjoPermissionsHandler.html
target/site/apidocs/org/anjocaido/groupmanager/class-use/DataHolder.html
target/site/apidocs/org/anjocaido/groupmanager/class-use/Group.html
target/site/apidocs/org/anjocaido/groupmanager/class-use/GroupManager.html
target/site/apidocs/org/anjocaido/groupmanager/class-use/GroupManagerPermissions.html
target/site/apidocs/org/anjocaido/groupmanager/class-use/OverloadedDataHolder.html
target/site/apidocs/org/anjocaido/groupmanager/class-use/User.html
target/site/apidocs/org/anjocaido/groupmanager/class-use/Variables.html
target/site/apidocs/org/anjocaido/groupmanager/package-frame.html
target/site/apidocs/org/anjocaido/groupmanager/package-summary.html
target/site/apidocs/org/anjocaido/groupmanager/package-tree.html
target/site/apidocs/org/anjocaido/groupmanager/package-use.html
target/site/apidocs/overview-frame.html
target/site/apidocs/overview-summary.html
target/site/apidocs/overview-tree.html
target/site/apidocs/package-list
target/site/apidocs/resources/inherit.gif
target/site/apidocs/stylesheet.css
target/uber-GroupManager-0.6-SNAPSHOT.jar